body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.icono {
    width: 10%;
    height: 10%;
}
/* nvbar fix */
.indexz {
  position: fixed;
  top: 0;
}
/* linea celeste */
hr  {
  height: 2px;
  background-color: #5bc0de;
}

.textov {
  
  font-size: 1.3rem;
  margin: 0;
  margin-top: 0.5rem;
}


.margintop {
  margin-top: 10rem;
}

 .card {
   width: 18rem;
}

a{
  text-decoration: none;
  color: white;
}  