body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.icono {
    width: 10%;
    height: 10%;
}
/* nvbar fix */
.indexz {
  position: absolute;
  z-index: 3;
}
/* linea celeste */
hr  {
  height: 2px;
  background-color: #5bc0de;
}

.textov {
  margin-top: 0.6rem;
  
}


.margintop {
  margin-top: 10rem;
}

 .card {
   width: 18rem;
}